<% title "Terms of Services" %>
<% page_id "terms" %>
<div class="has-flags"></div>
<div class="row">
	<div class="columns small-12">
		<h1>Terms of Service</h1>

		<h2>Statement of Rights and Responsibilities</h2>
		<p>
		YYCYouThere, is a service provided by Uppercut, which is a division of Anagram Inc., an Alberta Corporation. (“YYCYouThere”, “our” “we”) provides an online platform at www.yycyouthere.com for registered users (“you”, “User”, “Users”) to announce block party(s), (“Party”, "Parties"). This agreement governs the use of Parties between YYCYouThere and Users. By using or accessing YYCYouThere or any of its features, you engage in our “Service” and hereby agree to the terms and conditions outlined herein. In addition, you are required to read these terms and conditions and agree to them when registering for an account on YYCYouThere, and acknowledge your understanding and acceptance. If you do not wish to be bound by these terms and conditions, you must refrain from accessing YYCYouThere or any of its features, including creating a user account.
		</p>

		<p>
		Please read these terms and conditions of YYCYouThere (“Agreement” or “Terms of Service”) carefully before using YYCYouThere. This Agreement sets forth the legally binding terms and conditions for your use of YYCYouThere. By using YYCYouThere in any manner, including but not limited to visiting or browsing Parties, you agree to be bound by this Agreement. This Agreement applies to all Users of YYCYouThere, including Users who are also contributors of information, and other materials or services on YYCYouThere as well as Content, where Content is defined as any information, text, graphics, or other materials submitted to the Service by Users as part of communication and performance management within a Party.
		</p>

		<h2>Privacy</h2>

		<p>
		We respect our Users’ privacy and applicable laws and regulations governing our collection and use of personal information. Please ensure that you review our Privacy Policy section if you have any questions regarding how YYCYouThere protects Users’ information.
		</p>

		<h2>Registration and Protection of Account</h2>

		<p>
		We provide Users the ability to create a personal account, by sign in to Twitter using the visiting User's Twitter credentials, on our system to submit Parties, where Users may share Content and personal information. In order to protect the security of our accounts and systems, you must abide by the following rules when registering:
		</p>

		<ul>
			<li>You shall not use a Twitter account that you do not own, or you do not have consent from the Twitter account's registered owner.</li>
			<li>You shall not register an account if you have been banned or otherwise instructed not to use our services;</li>
			<li>You shall not transfer your account to another individual without our written permission. We generally will not provide permission, as it is more appropriate for all Users to register their own account; and</li>
			<li>You are responsible for all Content submit through usage of your account</li>
		</ul>

		<p>
		Please note that YYCYouThere reserves the right to cancel any account registered on our system for any reason, without compensation or recourse to the affected party.
		</p>

		<h2>Submission of Block Party Information</h2>

		<p>
		We provide Users the ability to submit Party information, including a name of choice, its address, date, start time, end time, an indication of such Party is suitable for all ages, and an indication of a possibility of alcohol present. Upon submission, Our Service may transmit a portion or all of such information to any and all third-party platform, such as, but not limiting to, Twitter.
		</p>

		<P>
		Our Service does not integrate with any of The City of Calgary process or services. Users are responsible for obtaining any and all permits required for Parties to take place. Any fees necessary are to be paid in full to the proper authorities by the User posted the Party. Under no circumstances should YYCYouThere, Uppercut, or Anagram Inc. be held responsible for reproducting the said permits for any or all Parties, nor should we be responsible for any part of the cost.
		</P>

		<h2>Conduct of Users</h2>

		<p>
		YYCYouThere Users can submit Content to be shared with any visitors of the website. By using YYCYouThere or contributing Content, you represent and warrant that you will not engage in any of the following activities:
		</p>

		<ul>
			<li>You shall not post or transmit any material that you do not have the right to post or transmit under any law, contractual duty or fiduciary relationship, or any material that infringes a third party’s trademark, patent, trade secret, copyright, publicity, or privacy rights, or is pornographic or obscene content or hate speech;</li>
			<li>You shall not violate YYCYouThere’s intellectual property rights in YYCYouThere and its features, including but not limited to the software platform, source code, databases, copyrights, and trademarks;</li>
			<li>You shall not post any content which is offensive or which promotes racism, bigotry, hatred or which advocates physical harm of any kind to or against any group or individual, or which promotes any criminal activity or enterprise or provides instruction or information about illegal activities;</li>
			<li>You shall not post false, inaccurate, misleading, defamatory, or libelous content (including personal information or personal information of others);</li>
			<li>You shall not provide or distribute in any manner the name, telephone numbers, email address, street address, URLs or other personally identifiable information of any party without their express written consent;</li>
			<li>You shall not access or attempt to access, tamper with, or use non-public areas of YYCYouThere, or its associated computer systems, and security related features or otherwise interfere with or attempt to interfere with the proper working of YYCYouThere;</li>
			<li>You must not collect or harvest any personally identifiable information, including Twitter account names from YYCYouThere;</li>
			<li>You will not facilitate or encourage any violations of this Agreement.</li>
		</ul>

		<p>
		If you have engaged in or become aware of any Users engaging in these prohibited activities and uses on YYCYouThere, you may email <a href="mailto:support@yycyouthere.com">support@yycyouthere.com</a> to submit the appropriate information to YYCYouThere. You understand that, notwithstanding our efforts and this agreement, you may be exposed to offensive, indecent or objectionable content when using YYCYouThere, and, accordingly, you use YYCYouThere at your own risk. There are commercially available services and software to limit access to material that you may find objectionable. YYCYouThere may, but shall have no obligation, to provide such services and software, or enable such services or software to work with YYCYouThere.
		</p>

		<h2>YYCYouThere’s Role in Moderation of Content</h2>

		<p>
		All Content shared by Users utilizing YYCYouThere remains the property of the respective owner. However, by submitting, posting or displaying Content on or through YYCYouThere, you grant YYCYouThere a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute the User posted Parties in any and all media or distribution methods (now known or later developed). User posted Parties may be re-purposed by YYCYouThere to improve future YYCYouThere product through extra features, where said extra features are the property of YYCYouThere. All identifying references in Parties to a User, Users’ brand &amp; trademarks, User’s employees, User’s business or User’s suppliers and partners would be removed.
		</p>

		<p>
		We may modify or adapt User’s posted Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your posted Content as are necessary to conform and adapt that posted Content to any requirements or limitations of any networks, devices, services or media.
		</p>

		<p>
		In accordance with YYCYouThere’s fundamental and guiding principle of protecting Users’ privacy and the privacy of Content, YYCYouThere does not independently review or filter any of the Party Content before or after it is entered by Users. YYCYouThere makes no representations regarding control or ownership over any Content with the exception of the User posted Parties. You acknowledge and agree that all Content, in whatever form and technical structure, whether publicly posted or privately transmitted or stored using YYCYouThere, is the sole responsibility of the person(s) originating such Content and introducing such Content into YYCYouThere.
		</p>

		<p>
		In the event that YYCYouThere is made aware of Content that violates these terms and conditions, YYCYouThere reserves the right, but is not obligated, to modify, edit, alter or delete any Content deemed by YYCYouThere to be in violation of these terms and conditions and the conduct of Users. YYCYouThere will also abide by any order made by a court of competent jurisdiction, which may result in Content being modified, edited, altered or deleted.
		</p>

		<p>
		To report an intellectual property infringement by any Users, please contact <a href="mailto:support@yycyouthere.com">support@yycyouthere.com</a> with a description of the offending Content.
		</p>

		<h2>Links to Third-Party Web Sites</h2>

		<p>
		YYCYouThere or its Users may provide hyperlinks to third-party web sites in the form of advertisement and/or as a convenience to Users of YYCYouThere, or as part of the Content. YYCYouThere does not control third-party web sites and is not responsible for the contents of any linked-to, embedded, or referenced third-party web sites. YYCYouThere does not endorse, recommend or approve any third-party web sites or third-party content hyperlinked, embedded or references from YYCYouThere. YYCYouThere will have no liability to any entity for the content or use of the content available through third-party sites.
		</p>

		<h2>Guarantee and Liability</h2>

		<p>
		YYCYouThere is provided by YYCYouThere ‘as is’ and ‘as available’, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement. YYCYouThere may change the products or services offered and may elect to cease providing the products or services offered by YYCYouThere at any time. Due to the nature of the Internet, YYCYouThere cannot make any guarantee of quality of service.
		</p>

		<p>
		YYCYouThere does not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free. YYCYouThere does not warrant that the results that may be obtained from the use of the service will be accurate or reliable. You agree that from time to time YYCYouThere may remove the service for indefinite periods of time or cancel the service at any time, without notice to you.
		</p>

		<p>
		In no case shall YYCYouThere our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, employee attrition, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service, or for any other claim related in any way to your use of the service, including, but not limited to, service outage; customer premise hardware; your actions or activities, whether legal or illegal; the actions or activities of any other YYCYouThere Users, whether legal or illegal; or any other goods or services provided by YYCYouThere or any affiliated party or any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility. In no event shall YYCYouThere be liable to you under this agreement or in relation to any matters in any way connected with this agreement in an amount that exceeds the service fees you have paid in the preceding year, if any.
		</p>

		<h2>Indemnification</h2>
		
		<p>
		You agree to indemnify, defend and hold harmless YYCYouThere, its members, its directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors, agents and the assigns of same, from and against any and all loss, costs, expenses (including reasonable attorneys’ fees and expenses on a solicitor and client basis), claims, damages and liabilities related to or associated with your use of YYCYouThere and any violation of the Terms of Service by you.
		</p>

		<h2>Governing Law and Jurisdiction</h2>

		<p>
		These Terms of Service constitute a contract made under and shall be governed by and construed in accordance with the Province of Alberta, excluding any choice or conflict of law provision (whether of Alberta, Canada or any other jurisdiction) that would permit or cause the application of the laws of any other jurisdiction. The parties hereto irrevocably attorn to the exclusive jurisdiction of the courts of the Province of Alberta.
		</p>

		<h2>Trademarks</h2>

		<p>
		“YYCYouThere” and all unique representations of the word “YYCYouThere” are trademarks of Anagram Inc.
		</p>

		<h2>Severability</h2>

		<p>
		In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.
		</p>

		<h2>Termination</h2>

		<p>
		The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes.
		</p>

		<p>
		These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease using our site.
		</p>

		<p>
		If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof).
		</p>

		<h2>Entire Agreement</h2>

		<p>
		The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.
		</p>

		<p>
		These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).
		</p>

		<p>
		Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.
		</p>

		<h2>Last Update</h2>
		
		<p>
		This Agreement was last updated on June 1, 2014.
		</p>

		<h2>Changes to the Terms of Service</h2>

		<p>You can review the most current version of the Terms of Service at any time at this page.</p>

		<p>
		We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes. For questions, comments or concerns regarding YYCYouThere Terms of Service, please send email to <a href="mailto:support@yycyouthere.com">support@yycyouthere.com</a>.
		</p>

		<h1>Privacy Policy</h1>

		<h2>What Kind of Information is Collected When You Visit Our Web Sites?</h2>
		<p>
		When you visit, browse, or download information from the YYCYouThere website, our webservers (in combination with software such as Google Analytics) automatically collect certain amounts of standard information for traffic monitoring and statistical purposes. Our purpose in collecting this information is to assist us in reviewing operational trends, performance, and for ways to improve our sites for our end-users. YYCYouThere cannot identify you from this information. We collect the following standard types of information:
		</p>

		<ul>
			<li>Internet Protocol (IP) addresses of the computers being used to access our sites;</li>
			<li>The operating systems and the types and versions of browsers used to access our sites;</li>
			<li>The dates and times users access our sites;</li>
			<li>The URL of pages visited on our sites or page titles);</li>
			<li>The time spent on each page of our sites;</li>
			<li>Referring site statistics;</li>
			<li>YYCYouThere’s computer systems use hardware and software to anonymously monitor unauthorized attempts to upload or change information on our webservers, disrupt service, or otherwise cause damage. We will use certain collected information, including that detailed above, to assist law enforcement and our security team if we are made aware of an attempt to damage our site or our users.
			</li>
		</ul>

		<h2>What Else Does YYCYouThere Collect?</h2>
		<p>
		When a user visits YYCYouThere, we may ask for permission to obtain location information from said user's computer or location-enabled mobile device. This location information is used only for the purpose of refining the display of available Parties around the user's proximity. We do not store or broadcast this data in any form. At any point, a user may choose to revoke permission to send location information from the user's device. This procedure depends on the platform, please consult the corresponding system's user instructions for detail.
		</p>
		<p>
		When a user signs in to YYCYouThere via Twitter for the first time, Twitter requests permission for our Services to read and write tweets on said user. We store each user's Twitter alias in a secure database that only we have access. Users Twitter password is never shared with YYCYouThere and is never stored in our computer systems in any way. At any point, a user may choose to log into their Twitter account, and revoke access to YYCYouThere by changing a setting under Profile. Once access to a user is revoked, the user must re-grant permission in order to sign in to YYCYouThere again.
		</p>

		<h2>What Does YYCYouThere Do With My Twitter Alias?</h2>
		<p>
		We will not use your Twitter alias for any purpose other than associating you with the Parties you posted, updating YYCYouThere Twitter feed when a new Party has been submitted, or displaying Parties you have posted publicly on YYCYouThere website. We will not share, sell, or rent any personal information you provide.
		</p>

		<h2>What About My Content?</h2>
		<p>
		YYCYouThere is designed with the privacy of our users as our first and foremost priority. YYCYouThere does not monitor or review any of the material our users submitted. Without notifying our users, YYCYouThere may access or collect numerical or statistical user data associated with or contained within each account. As well, User posted Parties may be re-purposed by YYCYouThere. YYCYouThere does not independently review or filter any of the Content before or after it is entered by Users. YYCYouThere makes no representations regarding control or ownership over any Content. For further details on how YYCYouThere handles user-provided content, please see the YYCYouThere Terms of Service section.
		</p>

		<h2>How Do We Use Cookies?</h2>
		<p>
		YYCYouThere uses cookies. A cookie is a small text file sent from a Web server and placed on your computer’s hard drive. A cookie is generally used to enhance your browsing experience by, for example, remembering your login name when you revisit the site. You can choose to set your browser to detect and reject cookies, to accept cookies from all sites, or to prompt you whenever a site wants to send you a cookie. Check your browser’s “Help” files to learn how to do this. If you choose to refuse cookies, you may not be able to access some of the interactive features on our websites.
		</p>

		<p>
		Cookies used by YYCYouThere do not give us access to anything on your hard drive beyond the information in the cookie we store. The following are the types of cookies we may use:
		</p>

		<ul>
			<li>Session cookies may be used to support on-line applications. They are used only during your online session and expire when you close your browser. Without session cookies, moving around our Web sites could be much slower.</li>
		</ul>

		<p>
		Further information on web cookies can be found at the Wikipedia’s “HTTP cookie” entry. We make no representations as to the quality or content of the Wikipedia article (Although at the time we developed this policy, it was fairly informative).
		</p>

		<h2>Information Security</h2>
		<p>
		YYCYouThere uses generally accepted security practices to ensure the integrity and confidentiality of our users’ information. We use up-to-date security safeguards to protect our networks and website from misuse, alteration, copying, disclosure, destruction, monitoring or unauthorized sharing of information and damage. In the event we are made aware of a substantial breach of our networks, we endeavor to take every measure possible to protect your confidential and private information, and quickly inform you if we suspect your information has been compromised. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information for improper purposes. You understand that Internet technologies have the inherent potential for disclosure. You acknowledge that you are under no obligation to provide personal or sensitive information in order to use YYCYouThere, and that you provide any personal or sensitive information at your own risk.
		</p>

		<h2>What Happens if This Policy Changes?</h2>
		<p>
		YYCYouThere reserves the right to change this policy at any time and from time to time as our business or law requires. If we make changes to this Privacy Policy we will notify you by posting a revised Privacy Policy at this location and therefore it is important that you review this Privacy Policy regularly to ensure that you are updated as to any changes. Continued use of YYCYouThere following notice of any of the foregoing changes shall indicate your acknowledgment of such changes and agreement to be bound by the terms and conditions of such changes.
		</p>

		<h2>Who Can I Contact for Further Information?</h2>
		<p>Questions or comments regarding these current practices or the administration of the PIPEDA may be directed to YYCYouThere by emailing <a href="mailto:support@yycyouthere.com">support@yycyouthere.com</a> or writing to:</p>

		<p>
		<address>
		YYCYouThere<br/>
		Attention: Legal Department<br/>
		119, 14th St. NW<br/>
		Suite 400<br/>
		Calgary, Alberta<br/>
		T2N 1Z6
		</address>
		</p>

		<p>If you want more information about how to protect your privacy, you may wish to contact the Office Of The Privacy Commissioner of Canada.</p>


	</div>
</div>