<div class="template hidden" data-template="infowindow">
	<div class="window-wrapper [event_type] [all_age] [alcohol]">
		<div class="icon bbq"><i class="icon-bbq"></i></div>
		<div class="icon potluck"><i class="icon-potluck"></i></div>
		<div class="icon picnic"><i class="icon-picnic"></i></div>
		<div class="icon catered"><i class="icon-catered"></i></div>
		<div class="icon community"><i class="icon-community"></i></div>
		<div class="icon fundraiser"><i class="icon-fundraiser"></i></div>
		<div class="icon other"><i class="icon-other"></i></div>
		<div class="info">
			<h4><a href="/event/[id]">[title]</a></h4>
			<strong>[event_type] by</strong><a href="http://twitter.com/[user_name]"> @[user_name]</a><br/>
			<i class="fa fa-child" title="This party is for all-ages"></i><i class="fa fa-glass" title="This party may have alcohol present"></i>
			<p>
				<strong>[address]</strong><br/>
				<strong>[community]</strong>
			</p>
			<p>
				<strong>[date] ([day])</strong><br/>
				<strong>[start_time] - [end_time]</strong>
			</p>
			<p>
				<a href="/event/[id]">Full Detail</a>
			</p>
			<p>&nbsp;</p>
		</div>
	</div>
</div>