<% title "Find a Neighbour Day block party near you!" %>
<% page_id "event-list" %>
<div class="" id="map"></div>
<div class="has-flags"></div>
<div class="row">
	<div class="columns small-12">
		<h1>Good Parties Make Good Neighbours</h1>

		<p>Have a Calgary community event or block party coming up? Let your neighbours know by plotting it on the map and linking to the full details.</p>

		<p>And don't forget that <strong>June 20, 2015</strong> is Neighbour Day in Calgary! What began as a Mayor Nenshi's commemoration of the 2013 flood (and inspired this directory) continues as an annual celebration of Calgary's neighbourly spirit and community involvement.</p>

		<p>For information on how to get involved, how to plan a block party, plus other Neighbour Day tools and templates, visit <a href="http://www.calgary.ca/CSPS/CNS/Pages/Neighbourhood-Services/Neighbour-Day.aspx" target="_blank">The City of Calgary's Neighbour Day page.</a></p>

		<h1>How This Site Works</h1>
		<ol>
			<li><a href="http://www.calgary.ca/CSPS/CNS/Pages/Neighbourhood-Services/Neighbour-Day-FAQs.aspx" target="_blank">Review this FAQ</a> for planning a Neighbour Day block party. It provides checklists and tips on organizing, as well as information on permit application.</li>
			<li><%= link_to "Sign in", signin_path(:twitter) %> to YYCYouThere with your Twitter account.</li>
			<li><%= link_to "Submit a Party", controller: "event", action: "new" %>. Once submitted, it will be tweeted on <a href="http://twitter.com/YYCYouThere">@YYCYouThere</a> as well.</li>
			<li>Extend the exposure by tweeting about your party!</li>
		</ol>
		<p>
			<strong>Please note:</strong> This tool does not apply for any required permits, nor does it process or waive any necessary fees. Also, please feel free to add any other community events that you would like to share.
		</p>
	</div>
</div>
<%= render 'infowindow' %>

<script type="text/javascript">
	var eventData = <%= raw(@events_json) %>
</script>
