<% title "Find a Neighbour Day block party near you!" %>
<% page_id "event-list" %>
<div class="" id="map"></div>
<div class="has-flags"></div>
<div class="row">
	<div class="columns small-12">
	<h1>Good Parties Make Good Neighbours</h1>
	<p>
	In the spirit of celebrating the sense of community during the flood in 2013, how the entire city helped out one another to clean up and rebuild the affected neighbourhoods,
	Mayor Nenshi has declared June 21, 2014 to be Neightbour Day. It will be a chance for people to celebrate the good things that came from overcoming a challenge,
	and there will be block parties spread across Calgary.
	</p>
	<p>
	This website is dedicated to this day, and its goal to provide a view of where the block parties are.
	</p>
	<p>
	If you would like to throw a party in your community, simply sign in with your Twitter account, and submit your party location.
	</p>
	</div>
</div>
<%= render 'infowindow' %>

<script type="text/javascript">
	var eventData = <%= raw(@events_json) %>
</script>
