// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require foundation-datepicker

#map {
	width: 100%;
	height: 300px;
}

small.error-message ul {
	list-style: none;
	margin-left: 0;
	font-size: 0.8rem;
	font-style: italic;
}

.gm-style-iw, .gm-style-iw div:first-child { overflow: hidden !important; }

.window-wrapper {
	position: relative;

	.icon {
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;

		svg {
			width: 40px;
			height: 40px;
		}
	}

	.info {
		padding-left: 50px;

		h4 {
			font-size: 0.8rem;
			margin: 0;
		}

		a { font-size: 0.6rem; }
		strong { font-size: 0.6rem; }

		p {
			margin: 0;
			margin-top: 4px;
			line-height: 0.8;
		}
	}

	&.BBQ .icon.bbq {display: block;}
	&.Potluck .icon.potluck {display: block;}
	&.Picnic .icon.picnic {display: block;}
	&.Catered .icon.catered {display: block;}

	.fa-child, .fa-glass { display: none; }
	&.all_age .fa-child { display: inline-block; }
	&.alcohol .fa-glass { display: inline-block; }

}

.share i {
	font-size: 2rem;
}

#party-list {
	list-style: none;
	margin-left: 0;

	li {
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: 40.063em) {
}
@media only screen and (min-width: 64.063em) {
	#map {
		height: 400px;
	}
}
@media only screen and (min-width: 90.063em) {
	#map {
		height: 500px;
	}
}
@media only screen and (min-width: 120.063em) {

}
@media only screen and (orientation: landscape) {

}
@media only screen and (orientation: portrait) {

}