// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require foundation-datepicker

$yyc-r: #e96144;
$yyc-b: #72cac7;
$yyc-y: #f1e979;
$yyc-g: #494a4a;

#map {
	width: 100%;
	height: 300px;
}

small.error-message ul {
	list-style: none;
	margin-left: 0;
	font-size: 0.8rem;
	font-style: italic;
}

.gm-style-iw, .gm-style-iw div:first-child { overflow: hidden !important; }

.marker-label {
	font-family: 'yycyouthere';

	[class^="icon-"], [class*=" icon-"] {
		margin-left: -2px;
		font-size: 0.7rem;
		color: $yyc-g;
	}

	margin-left: -10px;
	&.bbq .icon-bbq { color: #fff; }
}

.window-wrapper {
	position: relative;

	.icon {
		position: absolute;
		display: none;
		top: 5px;
		left: 0;
		width: 40px;
		height: 40px;

		[class^="icon-"], [class*=" icon-"] {
			font-size: 1.5rem;
		}
	}

	.info {
		padding-left: 50px;

		h4 {
			font-size: 0.8rem;
			margin: 0;
		}

		a { font-size: 0.6rem; }
		strong { font-size: 0.6rem; }

		p {
			margin: 0;
			margin-top: 4px;
			line-height: 0.8;
		}
	}

	&.BBQ .icon.bbq {display: block; color: $yyc-g;}
	&.Potluck .icon.potluck {display: block; color: $yyc-r;}
	&.Picnic .icon.picnic {display: block; color: $yyc-y;}
	&.Catered .icon.catered {display: block; color: $yyc-b;}
	&.Community .icon.community {display: block; color: #b3d454;}
	&.Fundraiser .icon.fundraiser {display: block; color: #dc5279;}
	&.Other .icon.other {display: block; color: #e5a345;}

	.fa-child, .fa-glass { display: none; }
	&.all_age .fa-child { display: inline-block; }
	&.alcohol .fa-glass { display: inline-block; }

}

.share i {
	font-size: 2rem;
}

#party-list {
	list-style: none;
	margin-left: 0;

	li {
		margin-bottom: 10px;
	}
}

.cluster-info .address,
.cluster-info .time {
	display: none;
}

@media only screen and (min-width: 40.063em) {
}
@media only screen and (min-width: 64.063em) {
	#map {
		height: 450px;
	}
}
@media only screen and (min-width: 90.063em) {
	#map {
		height: 600px;
	}
}
@media only screen and (min-width: 120.063em) {

}
@media only screen and (orientation: landscape) {

}
@media only screen and (orientation: portrait) {

}